* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /*background-color: #eee;*/
  background: url(imgs/background-nha-trang-5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 690px;
  margin: 0 auto;
}
.todo {
  margin-top: 2rem;
  padding: 2rem 4rem;
  border-radius: 6px;
  /*background: #1D1D2C;*/
  background: rgba(0,0,0,.7);
  width: 100%;
  min-width: 480px;
  max-height: 600px;
  color: #fff;
  /*overflow: scroll;*/
  overflow: hidden;
}

/* HEADER  */
.todo__header {
  padding: 1rem 0;
}
.todo__title {
  margin: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

/* THE BOX */
.todo__input {
  width: 100%;
  border-radius: 4px;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

/* THE LIST */
.todo__item {
  list-style-type: none;
  padding: 1rem 1.2rem;
  border-bottom: 2px solid #ffa700;
  border-radius: 6px;
}
.todo__item:hover {
  cursor: pointer;
  background: rgba(255,255,255,.1);
  transition: .5s all ease;
}
.done {
  text-decoration: line-through;
  opacity: .75;
  width: 70%;
  font-size: .95rem;
  margin: 0 auto;
  transition: .5s all ease;
}